{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__PROTOCOL__" : false,
    "__HOST__"     : false,
    "__PORT__"     : false,
    "__TEST_SERVER__" : false

  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "no-console": 2,
    "generator-star-spacing": 0,
    "promise/always-return": 2,
    "promise/no-return-wrap": 2,
    "promise/param-names": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,
    "promise/no-nesting": 1,
    "promise/no-promise-in-callback": 1,
    "promise/no-callback-in-promise": 1,
    "promise/avoid-new": 0
  }
}
