{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "standard-react"
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"         : false,
    "__PROD__"        : false,
    "__DEBUG__"       : false,
    "__COVERAGE__"    : false,
    "__PROTOCOL__"    : false,
    "__HOST__"        : false,
    "__PORT__"        : false,
    "__TEST_SERVER__" : false,
    "__CLIENT__"      : false

  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "generator-star-spacing": 0,
    "babel/generator-star-spacing": 1
  }
}
