{
  "extends": "stylelint-config-standard",
  "ignoreFiles": [
    "./src/universal/styles/vendor/",
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "color-hex-case": "upper",
    "at-rule-no-vendor-prefix",
    "media-feature-name-no-vendor-prefix",
    "property-no-vendor-prefix",
    "selector-no-vendor-prefix",
    "declaration-block-trailing-semicolon": null,
    "block-no-empty": null,
    "no-missing-end-of-source-newline": null,
    "value-no-vendor-prefix",
    "order/declaration-block-properties-alphabetical-order": true,
    "font-family-name-quotes": "always-where-recommended",
    "selector-pseudo-class-no-unknown": [true, ignorePseudoClasses: ["global", "local"]],
    "property-no-unknown": [true, ignoreProperties: ["composes", "/^lost-/", "font-smoothing"]]
  }
}
