.container {
  height: 100%;
  width: 100%;
}

.container div {
  lost-align: center;
  lost-row: 6/12;
}

.logo {
  margin: 100px 0 50px;
  width: 300px;
}

.icon {
  lost-align: top;
}

.icon i {
  font-size: 45px;
}

.icon p {
  margin-top: -100px;
}
