.activeRoute {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  height: 100px;
  lost-column: 12/12;
  lost-flex-container: row;
  padding: 20px;
}

.links {
  lost-column: 7/12;
  margin: 25px 0 0;
}

.links a {
  color: darkgray;
  margin-left: 20px;
  text-decoration: none;
}

.header {
  lost-align: vertical;
  lost-column: 5/12;
}

.header h1 {
  margin: 0 0 0 60px;
}
