@value dark = rgba(24, 27, 32, 100);

.button {
  border: 1px solid;
  border-radius: 40px;
  font-family: RionaSans-Light;
  font-size: 14px;
  line-height: 20px;
  min-width: 120px;
  padding: 10px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

/* stylelint-disable */
.light {
  composes: button;
  border-color: #FFF;
  color: #FFF;
}
/* stylelint-enable */

.light:hover {
  background-color: #FFF;
  color: dark;
}

/* stylelint-disable */
.dark {
  composes: button;
  border-color: dark;
  color: dark;
}
/* stylelint-enable*/

.dark:hover {
  background-color: dark;
  color: #FFF;
}

.form {
  background-color: dark;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 30px;
  margin-top: 10px;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  border: 0;
}
