.button {
  border: 1px solid;
  border-radius: 40px;
  font-family: RionaSans-Light;
  font-size: 14px;
  line-height: 20px;
  min-width: 120px;
  padding: 10px 20px 8px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

/* stylelint-disable */
.light {
  composes: button;
  border-color: #FFF;
  color: #FFF;
}
/* stylelint-enable */

.light:hover {
  background-color: #FFF;
  color: rgba(24, 27, 32, 100);
}

/* stylelint-disable */
.dark {
  composes: button;
  border-color: rgba(24, 27, 32, 100);
  color: rgba(24, 27, 32, 100);
}
/* stylelint-enable*/

.dark:hover {
  background-color: rgba(24, 27, 32, 100);
  color: #FFF;
}
