@lost gutter 60px;
@lost flexbox flex;
@lost cycle none;

:global {
  html {
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* Enable this to display lost Grid debugging in browser */

  /* html {
    lost-utility: edit;
  } */

  i {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
}
